<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Preact CLI Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="demo-keyword" content="<%= htmlWebpackPlugin.options.blah %>">
    <link rel="apple-touch-icon" href="./assets/icons/apple-touch-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <% preact.headEnd %>
</head>

<body>
    <% preact.bodyEnd %>
</body>

</html>